input[type="text"] {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	background-color: #999999;
	margin: 60px;
}
#SubFileListBox {
	position:absolute;
	left:133px;
	top:178px;
	width:80%;
	height:178px;
	z-index:1;
	background-color: #FFFFFF;
	color:#666666;
	overflow:auto;
	display:none;
}

table #main{
	background-color: #6699FF;
	font-size: 12px;
}
td {
	font-size: 12px;
}
table #ListHeader {
	color: #FFFFFF;
	background-color: #003300;
}
#List #ListItem {
	color: #000000;
	background-color: #33FFFF;
}



h1 {
	color: #FFFFFF;
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
	background-color: #000000;
}

h1 a {
	color: #CCCCCC;
	text-decoration: none;
}
h1 a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

label {
	color: #000000;
}
input {
	border: thin solid #6699FF;
}
.action{
	font-weight: bold;
	background-color: #66CCFF;
	border: thin solid #000099;
	color: #000099;
}
.Help {
	font-size: 10px;
	color: #999999;
	margin-left: 5px;
}
table #error {
	border: thin solid #FF0000;
	background-color: #FFCCFF;
	color: #990000;
}

#failure {
	border: thin solid #FF0000;
	background-color: #FFCCFF;
	color: #990000;
	margin-right: 10px;
	margin-left: 10px;
}

#info {
	border:thin solid #00CC00;
	background-color: #66FFCC;
	color:#006600;
	margin-right: 10px;
	margin-left: 10px;
}
#DEBUG {
	border:thin solid #00CC00;
	background-color: #000000;
	color:#FFFFFF;
	margin-right: 10px;
	margin-left: 10px;
}

#php {
	border:thin solid #00CC00;
	background-color: #9966FF;
	color:#660099;
	margin-right: 10px;
	margin-left: 10px;
}
.footer a {
	color: #CCCCCC;
	text-decoration: none;
}
.Delete a {
	color: #CC0000;
	text-decoration: none;
	border: thin solid #6699FF;
}
.Delete a:hover {
	color: #990000;
	background-color: #FFCCFF;
	border: thin solid #FF0000;
}

.Install a {
	color: #003300;
	text-decoration: none;
	border: thin solid #6699FF;
}
.Install a:hover {
	color: #003300;
	background-color: #CCFFFF;
	border: thin solid #00CC00;
}
label {
	color: #000000;
}


.Menu a {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #666666;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
}
#main #InstallPackageID #INHouse {
	color: #FFFFFF;
}


.Menu a:hover {
	color: #FFFFFF;
	text-decoration: none;


	background-color: #33CCFF;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #FFFF00;
	border-right-color: #FFFF00;
	border-bottom-color: #666666;
	border-left-color: #FFFF00;
	background-color: #666666;
}

.Menu{
	margin: 5px;
	font-size:12px;
}
#MenuBlock {
	margin-right: 10px;
	margin-left: 10px;
}
#TabDescription {
	background-color: #000000;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 12px;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
#main #TabDescription #Status a {
	color: #999999;
	text-decoration: none;
}
#main #TabDescription #Status a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
#main #TabDescription #DescData a {
	color: #999999;
	text-decoration: none;
}
#main #TabDescription #DescData a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}


.TabPage {
	margin-right: 10px;
	margin-left: 10px;
	font-size: 12px;
	border: medium solid #6699FF;
}


.SelectedMenu a {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #000000;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}

.SelectedMenu a:hover {
	color: #FFFFFF;
	text-decoration: none;


	background-color: #33CCFF;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}

.SelectedMenu{
	margin: 5px;
	font-size:12px;
}

.footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.footer {
	font-size:9px;
}
fieldset {
	border: thin solid #009900;
	background-color: #FFFFFF;
	margin: 10px;
}
legend {
	border: thin solid #009900;
	background-color: #66FFCC;
	color: #006600;
}
